.home_banner {
  border: 1px solid red;
  background-color: black;
}
.home_banner img {
  width: 100%;
  opacity: 0.6;
}
.home_banner > div {
  position: absolute;
  top: 200px;
  /* border: 1px solid rebeccapurple; */
  left: 0;
  right: 0;
  color: white;
}
.home_banner h1 {
  font-size: 50px;
}
.home_banner > div > div {
  margin-top: 30px;
}
.home_banner input {
  width: 30%;
  height: 50px;
  opacity: 0.5;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: 20px;
  border: none;
  outline: none;
}
.home_banner button {
  height: 50px;
  padding: 0px 40px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
  border: none;
  background-color: rgb(7, 155, 7);
  color: white;
}
